<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>G2P | Upload Files</title>
</head>

<body>
  <header>
    <h1>Upload Files</h1>
  </header>
  
  <div class="main-wrapper">
      <form id="convert-form" method="post" enctype="multipart/form-data">
        <div class="form-item">
          <label for="word-list">
            Word List
          </label>
          <input id="word-list" name="word-list" type="file">
        </div>
        
        <div class="form-item">
          <label for="inventory">
            Phonemic Inventory
          </label>
          <input id="inventory" name="inventory" type="file">
        </div>
        
        <div class="form-item">
          <label for="reference">
            Reference Lexicon
          </label>
          <input id="reference" name="reference" type="file">
        </div>

        <div class="form-item">
          <label for="model-select">
            Model
          </label>
          <select id="model" name="model">
            {% for model in models %}
              <option value="{{ model }}">
                {{ model }}
              </option>
            {% endfor %}
          </select>
        </div>
        <input type="submit" value="Submit" class="button">
      </form>
  </div>
</body>

</html>