<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>G2P | Edit Lexicon</title>
</head>

<body>

  <header>
    <h1>Edit Lexicon</h1>
  </header>

  <div class="main-wrapper">

    <div class="link-wrapper">
      <a class="button" href="{{ url_for('index') }}">Restart</a>
      <input type="submit" value="Download" form="lex-form" class="button" id="download">
    </div>
    <form method="post" id="lex-form">
      <table class="pron-table">
        <tr>
          <th>Word</th>
          <th>Pronunciation</th>
        </tr>
        {% for entry in lexicon %}
        <tr>
          <td>
            {{ entry.word }}
          </td>
          <td>
            <input name="pron{{ loop.index0 }}" type="text" value="{{ entry.pron }}">
          </td>
        </tr>
        {% endfor %}
      </form>
    </table>
  </div>
</body>

</html>