<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>G2P | Lexicon</title>
</head>

<body>

  <header>
    <h1>Lexicon</h1>
  </header>

  <div class="main-wrapper">

    <div class="link-wrapper">
      <a href="{{ url_for('index') }}">Restart</a>
      <a class="download-button" href="{{ download }}">Download</a>
    </div>

    <table class="pron-table">
      <tr>
        <th>Word</th>
        <th>Pronunciation</th>
      </tr>
      {% for entry in lexicon %}
      <tr>
        <td>
          {{ entry.word }}
        </td>
        <td>
          {{ entry.pron }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

</html>